.home{
    min-height: 800px;
    outline: 1px solid red;
    position: relative;


    &__img,
    &__video{       /*& - подставляет название родителяю; &__bg == home__bg*/
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover; /*картинка растягивается максимально*/
    }
    &__container{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    // делаем затенение на картинке

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%), url(.jpg);
    }
}

.top-menu__list{
    @include flex(center, center);
}
.top-menu__item{
    margin: 0 5px;
    a{
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        font-size: 12px;
        display: block;
        padding: 40px 25px;
        transition: 0.3s;
        border-top: 5px  solid transparent; //делаю рамку заранее и прозрачной, чтобы при наведении не прыгало
        &:hover{
            color:$yellow;
            border-top: 5px  solid $yellow;
        }
    }
}

.logo{
    margin: 0 60px;
    img{
        position: relative; //чтобы с лого вниз не тянулись top-menu__item
        top: 15px;
    }
}

.home__container-center{
    @include flex(space-between, flex-start);
    margin-top: 175px;
}

.socials{
    width: 60px;
    margin-top: 30px;
    a{
        display: block;
        height: 60px;
        margin-bottom: 20px;
        transition: 0,3s;
        border-radius: 50% ;
        &:hover{
            background: $yellow;
        }
    }
}

.home__text{
    outline: 1px solid red;
    text-align: center;
    h6{
        color: $white;
        font-size: $text;
    }
    h1{
        color:$yellow;
        font-family: $kurale;
        font-style: normal;
        font-size: 72px;
        margin-top: 25px;

        // делаем полоску желтую

        &::after{
            @include line;  //подключили миксин линии
        }
    }
}

.home__btns{
    margin-bottom: 80px;

    a{
        display: inline-block;
        border: 1px solid $white;
        text-transform: uppercase;
        line-height: 60px;
        font-size: 12px;
        font-weight: 700;
        color: $white;
        width: 200px;
        height: 60px;
        border-radius: 5px;
        border-color: $white;
        transition: 0,3s;
        margin: 0 20px 20px;
        &:hover{
            background: $yellow;
            border: 1px solid $white-opacity;

        }
    }
}

.arrow__about{
    display: block;
    width: 62px;
    height: 62px;
    margin: $mc;
}
.time-work{
    display: block;
    font-weight: 700;
    font-size: 17px;
    color: $white;
    width: 60px;
    margin-top: 60px;
    writing-mode: vertical-rl; //переворачиваем текст вертикально
    transform: rotate(180deg);
}